@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Indie+Flower&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
  
}
.container__fluid{
  background-color: rgb(122, 172, 187);
  background-size: cover;
}
.navbar__brand{
  color: rgb(250, 28, 209); 
  font-weight: bolder; 
  font-size: xx-large;
  text-decoration: none;
}

.principal{
    background-image: url(../foto/depositphotos_43129767-stock-photo-manicure-and-pedicure.webp);
    background-size: cover;
   
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   }
   
.card {
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
   
}

.card img {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: center;
   }
   
.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
   }

 @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  

 
   
@media screen and (max-width: 768px){
    .card {
    display: grid;
    grid-template-columns: repeat( 1 ,1fr);
    flex-grow: 1 ; 
    }
    .card img{
      width: 100%;
    }
   }  
@media screen and (max-width: 480px){
    .card{
      display: grid;
      grid-template-columns: repeat( 1 ,1fr);
      flex-grow: 1 ; 
    
    }
    .card img{
      width: 100%;
    }
}