@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Indie+Flower&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
  
}
.principal{
    background-image: url(../foto/depositphotos_43129767-stock-photo-manicure-and-pedicure.webp);
    background-size: cover;
    background-repeat: no-repeat;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
.card {
   margin: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
   
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: center;
   }
   
.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-decoration: double;
    color: rgb(20, 20, 144);
   }
   .pic-ctn {
    width: 100vw;
    height: 200px;
  }
  .gallery{
    background-color: #e6f7e9;
    background-image: radial-gradient(#c845f7 1.1500000000000001px, #e6f7e9 1.1500000000000001px);
    background-size: 23px 23px;
   
  }
  .container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
  }
.rounded{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(155, 202, 211);
  color: white;
  text-align: center;
}
.fa-whatsapp{
  color:#fff;
 background:
   linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat,
   radial-gradient(#25d366 60%,transparent 0);
}
.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
 @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
   @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


 
   
@media screen and (max-width: 768px){
  .card {
		width: 80%;
		margin: 10px auto;
	}
	.card img {
		width: 100%;
		height: auto;
	}
	.card h2 {
		font-size: 20px;
		margin-bottom: 5px;
	}
	.pic-ctn {
		height: 150px;
	}
 .container{
      display: flex;
      max-width: max-content;
      background-size: cover;
    }
  .gallery{
      background-color: #e6f7e9;
      background-image: radial-gradient(#c845f7 1.1500000000000001px, #e6f7e9 1.1500000000000001px);
      background-size: 23px 23px;
     
    }
  .container {
      display: flex;
      width: 100%;
      padding: 4% 2%;
      box-sizing: border-box;
      height: 100vh;
    }
  .box {
      flex: 1;
      overflow: hidden;
      transition: .5s;
      margin: 0 2%;
      box-shadow: 0 20px 30px rgba(0,0,0,.1);
      line-height: 0;
    }
  .footer{ 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   background-color: rgb(145, 145, 233);
    color: rgb(16, 15, 15);
    text-align: justify;
    align-items: flex-end;
   }
}  
@media screen and (max-width: 480px){
   .card {
		width: 90%;
		margin: 10px auto;
		padding: 10px;
	}
	
	 .card h2 {
		font-size: 18px;
		margin-bottom: 5px;
	}
	
	 .pic-ctn {
		height: 100px;
	}
    .container{
      display: flex;
      max-width: max-content;
      background-size: cover;
    }
    .gallery{
      background-color: #e6f7e9;
      background-image: radial-gradient(#c845f7 1.1500000000000001px, #e6f7e9 1.1500000000000001px);
      background-size: 23px 23px;
     
    }
    .container {
      display: flex;
      width: 100%;
      padding: 4% 2%;
      box-sizing: border-box;
      height: 100vh;
    }
  
  .footer{ 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   background-color: rgb(172, 172, 239);
    color: rgb(16, 15, 15);
    text-align: justify;
    align-items: flex-end;
}
}